* {
    margin: 0px;
    padding: 0px;
}

.header {
    height: 100px;
    background-color: hsl(0, 12%, 28%);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 510px;
    width: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
}

.title {
    font-family: 'Times New Roman', Times, serif;
}

.button {
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    background-color: #d87818b2;
    border-radius: 5px;
}

.footer {
    height: 100px;
    background-color: hsl(0, 12%, 28%);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
